#Yourwork{
  background-color: #FAF3E0;
}
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .mywork-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2f49f8;
  }
  .mywork-title span{
    background:#2f49f8;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .mywork-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .mywork-container img {
    width: 270px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .mywork-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  .mywork-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 0 20px #2f49f8, 0 0 30px #2f49f8;
    cursor: pointer;
  }  