.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #b6b0ae8e;
  color: rgba(255, 255, 255, 0.975);
  font-family: Arial, sans-serif;
  gap: 20px;
}

.contact-info {
  width: 40%;
  background: linear-gradient(to bottom, #f74c06, #f9bc2c);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.contact-info h2 {
  margin-bottom: 15px;
  color: white;
}

.contact-info p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.contact-info strong {
  display: block;
  margin-bottom: 5px;
}

.social-media a {
  margin-right: 15px;
  color: rgb(11, 11, 11);
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: beige;
}

.contact-form {
  width: 55%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  gap: 10px;
}

input,
textarea {
  width: 70%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fefefe;
  color: rgb(7, 6, 6);
  font-size: 14px;
  transition: border 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #f74c06;
  outline: none;
}

textarea {
  min-height: 100px;
  resize: none;
}

.form-checkbox {
  display: flex;
  gap: -70px;
  align-items: center;
  margin-right: 200px;
  font-size: 14px;
  color: #444;
}
.form-checkbox label{
  margin-right: 200px;
}
button {
  width: 20%;
  padding: 10px 20px;
  border: none;
  background: #f74c06;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

button:hover {
  background: #f9bc2c;
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }

  .form-group {
    flex-direction: column;
  }
}
